---
import { findImage } from '../utils/images';

export interface Props {
  name: string;
  picture: string;
}

const { name, picture } = Astro.props;

const imageUrl = await findImage(picture);
const altText = `${name} photo`;
---

<div class="flex items-center text-xl">
  {imageUrl ? (
    <div class="mr-4 h-12 w-12">
      <img
        alt={altText}
        class="h-full rounded-full object-cover"
        height={48}
        width={48}
        src={typeof imageUrl === 'string' ? imageUrl : imageUrl?.src}
      />
    </div>
  ) : (
    <div class="mr-1">By </div>
  )}
  <div class="text-pretty text-xl font-bold">{name}</div>
</div>