---
import { findImage } from '../utils/images';

export interface Props {
  image: string;
  priority?: boolean;
}

const { image, priority = false } = Astro.props;

const imageUrl = await findImage(image);
---

<div class="shadow-md transition-shadow duration-200 group-hover:shadow-lg sm:mx-0">
  {imageUrl ? (
    <img
      class="h-auto w-full"
      width={2000}
      height={1000}
      alt=""
      src={typeof imageUrl === 'string' ? imageUrl : imageUrl?.src}
      loading={priority ? 'eager' : 'lazy'}
    />
  ) : (
    <div class="bg-slate-50" style="padding-top: 50%"></div>
  )}
</div>